aside ul li a {
  padding-left: 50px;
  transition: background 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
}

aside ul li a:hover {
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.5);
  background-image: url("/static/icon/rabbit-outline.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px 50px;
  background-color: rgba(76, 131, 173, 0.9);
  padding-left: 50px;
}

aside ul li.panelclicked a {
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  background-image: url("/static/icon/rabbit-outline.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px 50px;
  background-color: rgba(237, 102, 237, 0.9);
  padding-left: 50px;
}

aside ul li.panelclicked a:hover {
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s;
}
