{% extends 'base.html' %}
{% block content %}
<title>{% block title %}Dashboard{% endblock %}</title>

<link rel="stylesheet" media="screen" href="{{url_for('static',filename='css/dashboard.css')}}" />
<script src="{{url_for('static',filename='js/dashboard.js')}}"></script>

<body class="flex flex-col min-h-screen custombg customtext">

  <!-- INFO: Navbar -->
  <nav class="customcolor5 p-4 flex justify-between items-center shrink-0">
    <div class="flex text-white text-lg custom-text">
      <img src="{{ url_for('static', filename='icon/icon.png') }}" class="w-8 mr-2" />
      Piggyzilla
    </div>
    <button class="text-white customcolor3 px-3 py-1 rounded-sm logoutbutton" id="logout">
      Logout
    </button>
  </nav>

  <!-- INFO: Layout -->
  <div class="flex flex-1 overflow-hidden">

    <!-- INFO: Sidebar -->
    <aside class="customcolor3 text-white w-64 p-4 hidden md:flex md:flex-col">
      <ul>
        <li class="mb-4" id="dash">
          <a href="#" class="hover:customcolor2 customcolor4 block p-2 rounded-sm">
            {{ _('Dashboard')}}
          </a>
        </li>

        <li class="mb-4" id="transactions">
          <a href="#" class="hover:customcolor2 customcolor4 block p-2 rounded-sm">
            {{ _('Transactions') }}
          </a>
        </li>

        <li class="mb-4" id="income">
          <a href="#" class="hover:customcolor2 customcolor4 block p-2 rounded-sm">
            {{ _('Income') }}
          </a>
        </li>
         <li class="mb-4" id="expense">
          <a href="#" class="hover:customcolor2 customcolor4 block p-2 rounded-sm">
            {{ _('Expense') }}
          </a>
        </li>
         <li class="mb-4" id="config">
          <a href="#" class="hover:customcolor2 customcolor4 block p-2 rounded-sm">
            {{ _('Config') }}
          </a>
        </li>          
      </ul>
    </aside>

    <!-- INFO: Main Content -->
    <main class="flex-1 customcolor2 p-4 overflow-auto" id="main">
      <!-- TODO: dynamic content -->
    </main>

  </div>

</body>
{% endblock %}